/* Declaring custom properties */
* {
  box-sizing: border-box;
}

#fondo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: white;
  border: thin solid gray;
  z-index: -3;
}

.muneco {
  position: relative;

  margin: 0 auto;

  height: 30em;
  width: 30em;
  top: 10em;
border-top-left-radius: 60%;
border-top-right-radius: 60%;
}

.ojos {
  position: absolute;
  height: 150px;
  left: 0;
  right: 0;
  top: 20px;
  margin: 0 auto;
  background-color: rgba(180,44,28,255);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius:
  border-bottom-left-radius:

}

.ojo {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: black;
  border: thin solid black;
  border-radius: 50%;


}

.pupila {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: white;
  border: thin solid black;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.ojo-lt {
  position: absolute;
  left: 1em;
  top: 0;
}

.ojo-lb {
  position: absolute;
  left: 1em;
  bottom: 0;
}

.ojo-rt {
  position: absolute;
  right: 1em;
  top: 0;
}

.ojo-rb {
  position: absolute;
  right: 1em;
  bottom: 0;
}

.pies {
  position: absolute;
  height: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;

  top: 1400px;
  background-color: rgba(180,44,28,255);
  border: thin solid blue;

  z-index: -1;
}

.pie {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: black;
  border: thin solid red;
}

.pie-i {
  position: absolute;
  left: -2em;
  z-index: 5;
}

.pie-d {
  position: absolute;
  right: -2em;
}

.nariz {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 478px;
  height: 230px;
  top: 170px;
  background-color:rgba(180,44,28,255);
  border: thin solid red;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;

}

.triangulo {
  position: relative;
   transform: rotate(27deg);
  width: 5em;
  margin: 0 auto;
  border-left: 100px solid #f0ad4e;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  background-color:rgba(180,44,28,255);

}

.cuello {
  position: absolute;
  height: 30px;
  left: 0;
  right: 0;
  margin:  auto;
  top: 400px;
  background-color: rgba(180,44,28,255);

  width: 250px;

}

.pecho {
  position: absolute;
  height: 400px;
  left: 0;
  right: 0;
  margin:  auto;
  top: 430px;
  background-color: rgba(180,44,28,255);
  border: thin solid red;
  width: 400px;

}


.hombroiz {

  position: absolute;
  height: 100px;
  left: 0;
  right: 30;
  margin:  auto;
  top: 430px;
  background-color: black;
  border: thin solid black;
  width: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius:20px;
  border-bottom-left-radius: 20px;

}

.hombrodr {

  position: absolute;
  height: 100px;
  left: 23.5em;
  right: 0em;
  margin:  auto;
  top: 0;
  bottom: 0em;
  background-color: black;
  border: thin solid black;
  width: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius:20px;
  border-bottom-left-radius: 20px;

}

.brazodr {

  position: absolute;
width: 300px;
height: 75px;
background-color: black;
top: 37.5em;
right:-13em;
border-top-left-radius: 700px;
border-top-right-radius: 700px;
border-bottom-right-radius: 700px;
border-bottom-left-radius: 700px;
background-color: rgba(180,44,28,255);
transform:rotate(40deg);
}


.brazoiz {

  position: absolute;
width: 300px;
height: 75px;
background-color: black;
top: 37.5em;
left:-13em;
border-top-left-radius: 700px;
border-top-right-radius: 700px;
border-bottom-right-radius: 700px;
border-bottom-left-radius: 700px;
background-color: rgba(180,44,28,255);
transform:rotate(140deg);
}




.pantalon {
  position: absolute;
  height: 100px;
  left: 0;
  right: 0;
  margin:  auto;
  top: 820px;
  background-color: rgba(180,44,28,255);
  border: thin solid red;
  width: 400px;
}

  .bolsillo1 {
    position: absolute;
    height: 100px;
    left: 10;
    right: 10;
    margin:  auto;
    top: 820px;
    background-color: black;
    border: thin solid black;
    width: 100px;

}




.piernas {
  position: absolute;
  height: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;

  top: 1400px;
  background-color: rgba(180,44,28,255);
  border: thin solid blue;

  z-index: -1;
}



.piernadr {

  position: absolute;
  height: 440px;
  left: 170;
  right: 0;
  margin:  auto;
  top: 830px;
  background-color: rgba(180,44,28,255);
  border: thin solid red;
  width: 100px;

}
