/* Declaring custom properties */
* {
  box-sizing: border-box;
}

#fondo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: white;
  border: thin solid gray;
  z-index: -3;
}

.muneco {
  position: relative;

  margin: 0 auto;

  height: 30em;
  width: 30em;
  top: 10em;
border-top-left-radius: 60%;
border-top-right-radius: 60%;
}

.ojos {
  position: absolute;
  height: 150px;
  left: 0;
  right: 0;
  top: 20px;
  margin: 0 auto;
  background-color: rgba(180,44,28,255);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius:
  border-bottom-left-radius:
animation: example 6s linear 2s infinite alternate;

}

.ojo {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: black;
  border: thin solid black;
  border-radius: 50%;
}

@keyframes colorines {
  0%   { background-color: red;}
  50%  {background-color: yellow;}
  100% {background-color: white;}

}
.pupila {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: white;
  border: thin solid black;
  border-radius: 50%;
  width: 90px;
  height: 90px;


  animation: colorines 0.4s linear 0s infinite alternate;
}


.ojo-lb {
  position: absolute;
    transform:rotate(190deg);
    width: 145px;
  left: 2em;
  bottom: 0;
  border-radius: 0 50% / 0 50%;

}



.ojo-rb {
  position: absolute;
  transform:rotate(82deg);
  width: 145px;
  right: 2em;
  bottom: 0;
  border-radius: 0 50% / 0 50%;
}


.nariz {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 478px;
  height: 230px;
  top: 170px;
  background-color:rgba(180,44,28,255);
  border: thin solid red;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;

}

.triangulo {
  position: relative;
   transform: rotate(27deg);
  width: 5em;
  margin: 0 auto;
  border-left: 100px solid #f0ad4e;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  background-color:rgba(180,44,28,255);

}

.cuello {
  position: absolute;
  height: 30px;
  left: 0;
  right: 0;
  margin:  auto;
  top: 400px;
  background-color: rgba(180,44,28,255);

  width: 250px;

}

.pecho {
  position: absolute;
  height: 400px;
  left: 0;
  right: 0;
  margin:  auto;
  top: 430px;
  background-color: rgba(180,44,28,255);
  border: thin solid red;
  width: 400px;

}


.hombroiz {

  position: absolute;
  height: 100px;
  left: 0;
  right: 40;
  margin:  auto;
  top: 430px;
  background-color: black;
  border: thin solid black;
  width: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius:20px;
  border-bottom-left-radius: 20px;

}

.hombrodr {

  position: absolute;
  height: 100px;
  left: 23.5em;
  right: 0em;
  margin:  auto;
  top: 0;
  bottom: 0em;
  background-color: black;
  border: thin solid black;
  width: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius:20px;
  border-bottom-left-radius: 20px;

}

.brazodr {

  position: absolute;
width: 300px;
height: 75px;
background-color: black;
top: 37.5em;
right:-13em;
border-top-left-radius: 700px;
border-top-right-radius: 700px;
border-bottom-right-radius: 700px;
border-bottom-left-radius: 700px;
background-color: rgba(180,44,28,255);
transform:rotate(40deg);
}


.brazoiz {

  position: absolute;
width: 300px;
height: 75px;
background-color: black;
top: 37.5em;
left:-13em;
border-top-left-radius: 700px;
border-top-right-radius: 700px;
border-bottom-right-radius: 700px;
border-bottom-left-radius: 700px;
background-color: rgba(180,44,28,255);
transform:rotate(140deg);
}




.pantalon {
  position: absolute;
  height: 100px;
  left: 0;
  right: 0;
  margin:  auto;
  top: 820px;
  background-color: rgba(180,44,28,255);
  border: thin solid red;
  width: 400px;
}

  .bolsillo1 {
    position: absolute;
    height: 100px;
    left: -301px;
    right: 0px;
    margin:  auto;
    top: 820px;
    background-color: black;
    border: thin solid black;
    width: 100px;

}



.bolsillo2 {
  position: absolute;
  height: 100px;
  left: 0px;
  right: -300px;
  margin:  auto;
  top: 820px;
  background-color: black;
  border: thin solid black;
  width: 100px;

}


.piernadr {

  position: absolute;
  height: 440px;
  left: 130px;
  right: 0;
  margin:  auto;
  top: 909px;
  background-color: rgba(180,44,28,255);
  border: thin solid red;
  width: 100px;
  border-top-left-radius: 700px;
  border-top-right-radius: 700px;
  border-bottom-right-radius: 700px;
  border-bottom-left-radius: 700px;
  transform:rotate(-2deg);
  }

  .piernaiz {

    position: absolute;
    height: 440px;
    left: -160px;
    right: 0;
    margin:  auto;
    top: 905px;
    background-color: rgba(180,44,28,255);
    border: thin solid red;
    width: 100px;
    border-top-left-radius: 700px;
    border-top-right-radius: 700px;
    border-bottom-right-radius: 700px;
    border-bottom-left-radius: 700px;
    transform:rotate(6deg);
    }


    .zapato1 {
      position: absolute;
      height: 210px;
      left: 0px;
      right: -240px;
      margin:  auto;
      top: 1250px;
      background-color: rgba(180,44,28,255);
      border: thin solid red;
      width: 100px;
      border-top-left-radius: 700px;
      border-top-right-radius: 700px;
      border-bottom-right-radius: 700px;
      border-bottom-left-radius: 700px;
      transform:rotate(640deg);
      }

      .zapato2 {
        position: absolute;
        height: 210px;
        left: -240px;
        right: 0px;
        margin:  auto;
        top: 1250px;
        background-color: rgba(180,44,28,255);
        border: thin solid red;
        width: 100px;
        border-top-left-radius: 700px;
        border-top-right-radius: 700px;
        border-bottom-right-radius: 700px;
        border-bottom-left-radius: 700px;
        transform:rotate(624deg);
        }


        .cinturon {
          position: absolute;
          height: 50px;
          left: 0px;
          right: -0px;
          margin:  auto;
          top: 730px;
          background-color: #79472e;
          border: thin solid brown;
          width: 400px;

        }


.pierna1 {

  position: absolute;
  height: 50px;
  left: -149px;
  right: -0px;
  margin:  auto;
  top: 1200px;
  background-color: #79472e;
  border: thin solid black;
  width: 100px;
  border: thin solid brown;
  width: 100px;
  border-top-left-radius: 700px;
  border-top-right-radius: 700px;
  border-bottom-right-radius: 700px;
  border-bottom-left-radius: 700px;

}


.pierna2 {

  position: absolute;
  height: 50px;
  left: 0px;
  right: -132px;
  margin:  auto;
  top: 1200px;
  background-color: #79472e;
  border: thin solid black;
  width: 100px;
  border: thin solid brown;
  border-top-left-radius: 700px;
  border-top-right-radius: 700px;
  border-bottom-right-radius: 700px;
  border-bottom-left-radius: 700px;

}

.cordones1 {

  position: absolute;
  height: 50px;
  left: 0px;
  right: -140px;
  margin:  auto;
  top: 1400px;
  background-color: black;
  border: thin solid black;
  width: 100px;
  border: thin solid black;
  border-top-left-radius: 700px;
  border-top-right-radius: 700px;
  border-bottom-right-radius: 700px;
  border-bottom-left-radius: 700px;

}

.cordones2 {

  position: absolute;
  height: 50px;
  left: -190px;
  right: 0px;
  margin:  auto;
  top: 1400px;
  background-color: black;
  border: thin solid black;
  width: 100px;
  border: thin solid black;
  border-top-left-radius: 700px;
  border-top-right-radius: 700px;
  border-bottom-right-radius: 700px;
  border-bottom-left-radius: 700px;

}



.costado1 {
  position: absolute;
  height: 60px;
  left: 0px;
  right: 340px;
  margin:  auto;
  top: 802px;
  background-color: black;
  border: thin solid black;
  width: 300px;
    transform:rotate(450deg);

}

.costado2 {
  position: absolute;
  height: 60px;
  left: 0px;
  right: -340px;
  margin:  auto;
  top: 802px;
  background-color: black;
  border: thin solid black;
  width: 300px;
    transform:rotate(450deg);

}


.pecho1 {

  position: absolute;
  height: 100px;
  left: 290px;
  right: 0px;
  margin: auto ;
  top: 650px;
  background-color: black;
  border: thin solid black;
  width: 100px;


}

.pecho2 {

  position: absolute;
  height: 100px;
  left:  -1000px;
  right: -720px;
  margin: auto ;
  top: 650px;
  background-color: black;
  border: thin solid black;
  width: 100px;

}
